body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(254, 254, 233);
    opacity: 0.9;
    text-align: center;
}

body footer {
    text-align: left;
    margin-left: 20px;
    margin-top: 100px;
    margin: 0;
}

footer  {
    background-color: rgb(144, 238, 216);
}

.navbar {
    background-color: rgb(144, 238, 216);
}

.navbar a {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.nav-item a:hover {
    color: rgb(254, 254, 233);
}

.col-3, .col-4 {
    background-color: rgb(144, 238, 216);
    max-height: 300px;
    min-width: 300px;
    margin: 10px;
}

.navbar-toggler-icon {
    background-color: rgb(144, 238, 216);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
    outline: none;
}

.container-fluid .overlay {
    position: absolute;
    top:5%;
    width:30%;
    color: black;
}

.container-fluid {
    display: inline-block;
    position: relative; 
}

.container-fluid .carousel-item img {
    display: block;
    max-width: 100%;
    max-height: 600px;
 }

.container-fluid .row img {
    max-width: 100%;
}

.navbar img {
    border: 2px solid rgb(237, 181, 233);
    border-radius: 40%;
}

.dropdown-menu {
    background-color: rgb(237, 181, 233);
    width: 200px;
    float: right;
    position: fixed;
}

.modal {
    text-align: center;
}

.modal-dialog {
    min-width: 60%;
}

.modal-header {
    justify-content: end;
}

.btn {
    background-color: rgb(144, 238, 216);
    font-weight: bold;
    border: 2px solid black;

}

.btn:link {
    background-color: rgb(144, 238, 216);
}

.btn:hover { 
    background-color: rgb(237, 181, 233); 
}

.btn:focus {
    background-color: rgb(144, 238, 216);
}

.btn:active {
    background-color: rgb(144, 238, 216);
}

.bi-github:hover {
    background-color:  rgb(254, 254, 233);
    border-radius: 50%;
}

.bi-envelope:hover {
    background-color:  rgb(254, 254, 233);
    
}

.bi-linkedin:hover {
    background-color:  rgb(254, 254, 233);

}

@media only screen and (min-width: 992px) {
    .navbar {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: 992px) {
    .navbar .nav-item {
      padding: 0.5em 1em;
    }
  }

