*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(254, 254, 233);
    opacity: 0.9;
    text-align: center;
    padding: 0;
    min-height: 100%;
}

body footer {
    text-align: left;
    margin-left: 20px;
    margin-top: 100px;
    margin: 0;
}

footer {
    background-color: rgb(144, 238, 216);
}

.container-fluid .overlay {
    position: absolute;
    top:5%;
    width:30%;
    color: black;
}

.container-fluid {
    display: inline-block;
    position: relative; 
}

.container-fluid .carousel-item img {
    display: block;
    max-width: 100%;
    max-height: 600px;
 }

.container-fluid .row img {
    max-width: 100%;
}

.container-sm {
    width: 350px;
    height: 550px;
    padding-top: 20px;
    background-color: rgb(144, 238, 216);
    margin-bottom: 20px;
}

.button {
    background-color: rgb(237, 181, 233);
    border: 2px solid black;
    border-radius: 5px;
}

/*Quotes*/
.outer-container {
    max-width: 80%;
    height: 120px;
    display: grid;
    margin: auto;
    align-content: center;
}

#quotes {
    font-size: 16px;
}

#author {
    font-size: 12px;
}

#generate {
    font-size: 12px;
}

/*About Me, Education, Skills*/
.col-3, .col-4 {
    background-color: rgb(144, 238, 216);
    max-height: 300px;
    min-width: 300px;
    margin: 10px;
}

/*NavBar and Hamburger Menu*/
.navbar {
    background-color: rgb(144, 238, 216);
}

.navbar a {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.nav-item a:hover {
    color: rgb(254, 254, 233);
}

.navbar-toggler-icon {
    background-color: rgb(144, 238, 216);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
    outline: none;
}

.navbar img {
    border: 2px solid rgb(237, 181, 233);
    border-radius: 40%;
}

.dropdown-menu {
    background-color: rgb(237, 181, 233);
    width: 200px;
    float: right;
    position: fixed;
}

/*Resume popup*/
.modal {
    text-align: center;
}

.modal-dialog {
    min-width: 60%;
}

.modal-header {
    justify-content: end;
}

a:hover {
    color: black;
}

/*Buttons on page*/
.btn {
    background-color: rgb(144, 238, 216);
    font-weight: bold;
    border: 2px solid black;
}

.btn:link {
    background-color: rgb(144, 238, 216);
}

.btn:hover { 
    background-color: rgb(237, 181, 233); 
}

.btn:focus {
    background-color: rgb(144, 238, 216);
}

.btn:active {
    background-color: rgb(144, 238, 216);
}

/*Social Media icons in footer*/
.bi-github:hover {
    background-color:  rgb(254, 254, 233);
    border-radius: 50%;
}

.bi-linkedin:hover {
    background-color:  rgb(254, 254, 233);

}

/*Arrow on the right side of page that takes user back to top of page*/
#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: rgb(237, 181, 233);
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: rgb(229, 89, 220);
    color: #000;
}

/* Clock counter */
.clock {
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

/*Date*/
.date {
    font-size: 15px;
    font-weight: bold;
}

@media only screen and (min-width: 992px) {
    .navbar {
      flex-direction: column;
    }
  }

@media only screen and (min-width: 992px) {
    .navbar .nav-item {
      padding: 0.5em 1em;
    }
  }

  @media only screen and (max-width: 700px) {
    .outer-container {
        height: 250px;
        display: grid;
        margin: auto;
        align-content: center;
    }
  }

/*Weather App*/
.container {
    width: 300px;
    height: 250px;
    padding-top: 20px;
    background-color: rgb(144, 238, 216);
    margin-bottom: 20px;
}

.temperature-value p {
    color: black;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span {
    color: black;
    font-size: 0.5em;
}

.temperature-description p {
    color: black;
    text-align: center;
    font-size: 1.2em;
}

.location p {
    color: black;
    text-align: center;
    font-size: 0.8em;
}


